# Ignore object files and binary files
*.hi
*.o

# Ignore executable binaries
*.exe

# Ignore any other GHC temporary files or directories
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp
*.eventlog

# Ignore any directories named dist or cabal build directories
dist/
dist-newstyle/
cabal-dev/
.stack-work/
